@import 'tailwindcss';
#root {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #111827;
}

body {
  background-color: #111827;
  padding: 0.5rem;
}

ul.pagination-controls {
  margin-bottom: 2rem;
  display: flex;
}

ul.pagination-controls li.disable,
ul.pagination-controls li.disabled a {
  cursor: default;
  background-color: rgb(156 163 175);
  color: #545d6b;
}

ul.pagination-controls li:first-child a {
  border-right: 1px solid gray;
}

ul.pagination-controls a {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul.pagination-controls .page-item-none {
  display: none;
}

.table-wrapper {
  border-radius: 0.5rem;
  border: 1px solid transparent;
  overflow: hidden;
}
