:root {
  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111827;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100dvh;
  background-color: #111827;
}
